.star-rating-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f5c518;
}

.star-icons {
  display: flex;
  gap: 4px;
}

.star-rating-score {
  font-weight: bold;
  color: var(--text-light);
}