/* ProductCard Component Styles */

.product-card {
  display: flex;
  flex-direction: column;
  align-items:center;
  overflow-y: hidden; /*Vini-Bugador: evita que os cards passem a tela igual desgraçados*/
  gap: 15px;
  padding: 5%; 
  width: 500px;
  /*border: 8px solid red;*/
  max-width: 100px;
  height: 100%;
  max-height: 939px;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow-x: hidden;
}

.product-link {
  position: relative;
  text-align: center;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;


}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card .card-product {
  width: 360px; /* Mais largo */
  max-width: 100%; 
  height: 340px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  padding: 28px 20px 0;
  position: relative;
}

.product-card .card-product .discount {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: var(--card-tag-color);
  color: var(--text-muted);
  padding: 5px 15px;
  border-radius: 29px;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.product-card .card-product img {
  width: 80%;
  height: auto;
  max-height: 90%;
  display: block;
  object-fit: contain;
  margin: auto;
  position: static;
}

/*.product-card p {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--light-gray);
  line-height: 24px;
  letter-spacing: 0.75px;
}*/ /* vini: este css aparenta nao influenciar em nada nos cards, ent resolvi comentar */

.product-card h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1.4px;
  margin-top: 5%; /* vini: adicionei esses dois margin para ajustar a legenda dos produtos. */
  margin-bottom: 2%;
  color: var(--text-primary);
  /*line-break: anywhere;*/
  white-space: nowrap;
}

.product-card .card-info {
  display: flex;
  gap: 11px;
  /*line-break: anywhere;*/
  white-space: nowrap; /* ajusta a quebra de linha na maioria das vezes */
  align-items: center;
}

.original-price {
  color: var(--text-muted);
  /* font-feature-settings:
    'liga' off,
    'clig' off; */
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -1px;
  text-decoration: line-through;
  text-align: center;
}

.product-card .card-info .discount-price {
  color: var(--success-color);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
}

/* Responsividade */
@media (max-width: 1400px) {
  .product-card {
    max-width: 220px;
    height: auto;
  }

  .product-card .card-product {
    height: 265px;
  }

  .product-card .card-product img {
    width: 190px;
  }

  .product-card h4 {
    font-size: 1rem;
  }

  .product-card .card-info .original-price {
    font-size: 0.8rem;
    line-height: 22px;
    letter-spacing: -0.75px;
  }

  .product-card .card-info .discount-price {
    font-size: 1.1rem;
    line-height: 22px;
    letter-spacing: -0.75px;
  }
}

@media (max-width: 460px) {
  .product-card {
    width: 100%;
    min-width: 163px;
    height: 290px;
    align-items: flex-start;
  }

  .product-card a {
    width: 100%;
    max-width: 163px;
  }

  .product-card .card-product {
    width: 100%;
    padding: 0px;
    height: 179px;
  }

  .product-card .card-product .discount {
    left: 30px;
  }

  .product-card .card-product img {
    width: 120px;
    top: 40px;
    left: 14px;
    transform: rotate(-30deg);
  }

  .product-card h4 {
    font-size: 0.8rem;
  }

  .product-card .card-info {
    gap: 8px;
  }

  .product-card .card-info .original-price {
    font-size: 0.8rem;
    line-height: 20px;
    letter-spacing: -0.75px;
  }

  .product-card .card-info .discount-price {
    font-size: 0.8rem;
    line-height: 20px;
    letter-spacing: -0.75px;
  }
}
